services:
  orders-db:
    image: postgres:15
    container_name: orders-db
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: orders_user
      POSTGRES_PASSWORD: orders_password
    ports:
      - "5432:5432"
    volumes:
      - orders-db-data:/var/lib/postgresql/data

  users-db:
    image: postgres:15
    container_name: users-db
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: users_user
      POSTGRES_PASSWORD: users_password
    ports:
      - "5433:5432"
    volumes:
      - users-db-data:/var/lib/postgresql/data

  products-mongo:
    image: mongo:6
    container_name: products-mongo
    ports:
      - "27017:27017"
    volumes:
      - products-mongo-data:/data/db

volumes:
  orders-db-data:
  users-db-data:
  products-mongo-data:
